<!DOCTYPE HTML>
<html>
    <head>
        <!-- <meta charset="utf-8" >-->
        <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
        <title>lol</title>
        <link rel="shortcut icon" href="###URL###/pics/favicon.ico" />
        <link rel="stylesheet" type="text/css" href="###URL###/css/css.css" title="Futaba" />
    </head>
    <body>
            <div id="navi">
                <a href="###URL###">Home</a>  |
                <a href="###URL###/insert">Einfügen</a>  |
                <a href="###URL###/stimmen">Stimmen verwalten</a>  |
                <a href="###URL###/search">Suchen</a>  |
                <a href="###URL###/upload">PDF hochladen</a>  |
                <a href="###URL###/sort">PDF's einsortieren</a> |
                <a href="###URL###/list">alle Notensätze</a> |
                <a href="###URL###/stats">Statistik</a> | 
                <a href="###URL###/planer">Repertoire Planer</a>
            </div>
