<div id="main">
    <p>
        Es koennen sich momentan nur Leute einloggen, die auch einen Benutzerausweis haben. Damit soll sichergestellt werden, dass nicht fremde Leute (moeglicherweise auch
        andere Vereine) ungewollte Zugriff auf unsere Noten haben. Zum Einen hat das rechtliche Gruende und zum Anderen soll unsere Arbeit nicht offen verfuegbar sein.
        Einen Zugang zu den Noten kann man bei Benedikt Schaefer bekommen.
    </p>
    ###ERROR###
    <form id="login" name="login" method="post" action="login" >
        User: <input type="text" name="user" />
        Pass: <input type="password" name="pass" />
        <input type="submit" name="submit" value="Login" />
    </form>
</div>