<div id="main">
    <h3>###TITEL###  ###TITLERATING###</h3>
    
    <ol>
        <li>
            Komponist: ###KOMPONIST###
        </li>
        <li>
            Genre: ###GENRE###
        </li>
        <li>
            Gesang: ###GESANG###
        </li>
        <li>
            Jahr: ###YEAR###
        </li>
        <li>
            Gesangstitel: ###GESANG###
        </li>
        <li>
            Repertoire: ###REPERTOIRE### (###REPERTOIRENUMBER###.)
        </li>
        <li>
            Schrank: ###SCHRANK###
        </li>
    </ol>

    Verf&uuml;gbare Stimmen:
    <ol>
        ###STIMMEN###
    </ol>

    [ <a href="###URL###/edit/###ID###">editieren</a> |
    <a href="###URL###/delete/###ID###">l&ouml;schen</a> ]

</div>
